#lyrics {
	list-style-type: none;
	width: fit-content;
	max-height: 5.5em;
	overflow-y: scroll;
	padding: 0 1em;
}
/* Hackery and dark magic. We want scrollIntoView to ensure that the next line of
lyrics is visible too, so the element needs to be a bit taller than it looks. But
that extra height has to NOT be coloured by the .active class, so it's done as a
white border. Of course, we need the next lyric line to be drawn over that white
border, hence the negative margin. To avoid losing the first lyric line above the
top of the screen, we remove its margin; and to avoid having a gap at the bottom,
we remove the border from the last one. Although, on analysis, it looks fine with
the gap at the bottom (makes it clear that we're done), so I'm actually keeping a
white border on the last list item. */
#lyrics li {
	transition: all 1s;
	border-bottom: 1.25em solid white;
	margin-top: -1.25em;
}
#lyrics li:first-child {margin-top: 0;}
/* #lyrics li:last-child {border-bottom-width: 0;} */
#lyrics .active {
	background: #a0f0c0;
	transition: background 0s;
}
